# Java Libraries
Apache Commons Collections v4.4+

# JDBC Connector
MySQL Connector/J

# Java Version
Java SE 8 or later

# MySQL
MySQL Server (tested on v8.0+)
MySQL Workbench (optional GUI tool)

# IDE (recommended)
Eclipse IDE for Java Developers
